<h1><%= @username %></h1>

<dl>
  <dt>
    ID
  </dt>
  <dd>
    <%= @user.id %>
  </dd>

  <dt>
    Edit user
  </dt>
  <dd>
    <form action="" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>
  Own photos (<%= @user.own_photos.size %>)
</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>
    <th>
      Owner
    </th>
    <th>
      Caption
    </th>
    <th>
      Posted
    </th>
    <th>
    </th>
  </tr>

  <% @user.own_photos.each do |photo| %>
    <tr>
      <td>
        <img src="<%=photo.image%>" alt="">
      </td>
      <td>
        <%= photo.poster.username %>
      </td>
      <td>
        <%= photo.caption%>
      </td>
      <td>
        <%= photo.created_at %>
      </td>
      <td>
        <a href="/photos/<%= photo.id %>">Show details</a>
      </td>
    </tr>
  <% end %>
</table>
