<h1>List of photos</h1>

<form action="/add_photo">
  <label for="url">Image</label>
  <input type="text" id="url" name="image_url" placeholder="Enter a URL for the image...">

  <label for="caption">Caption</label>
  <textarea id="caption" name="image_caption" placeholder="Enter a caption for the photo..." ></textarea>

  <label for="owner">Owner ID</label>
  <input type="text" id="owner" name="image_owner" placeholder="Enter an ID of a User...">

  <button>Add photo</button>
</form>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @list_of_photos.each do |photo| %>
    <tr>
      <td>
        <img src="<%= photo.image %>" alt="">
      </td>
      <td>
        <%= photo.caption %>
      </td>
      <td>
        <%= photo.poster.username %>
      </td>
      <td>
        <%= photo.created_at %>
      </td>
      <td>
        <a href="/photos/<%= photo.id %>">Show details</a>
      </td>
    </tr>
  <% end %>

</table>
